@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<basicBlogAppModels.Post>
@foreach (var post in Model)
{
    <div>
        <h2>@Html.ActionLink(post.Title, "Single", "Post", new { id = post.ID }, null)</h2>
        <h5><b>Author:</b> @post.Author</h5>
        <span>@Html.Raw(post.Content)</span>
        <br />
        <span><b>Last Modified:</b> @(post.PublishDate.HasValue ? post.PublishDate.Value.ToShortDateString() : String.Empty)</span><br />
        <span><b>Approved By:</b> @post.Approver - @(post.ApprovalDate.HasValue ? post.ApprovalDate.Value.ToShortDateString() : String.Empty)</span>
    </div>
}
